@import "variables";
@import "mixins";

#experience-content {
    @include contentSpacing;
    #resume {
        position: absolute;
        right: 0.5vw;
        bottom: -0.5vw;
        i {
            transition: all 1s;
        }
    }
    &:hover {
        i {
            color: $brand-primary;
        }
    }
}