@import "variables";
@import "mixins";

// Containers
#card-container {
  z-index: 1;
}

.heading-container {
    @include fullScreen;
    position: relative;
}

#shield {
  @include cardSize(0, $card-height);
}

#shadow {
  @include cardSize(0, $card-height);
  pointer-events: none;
  transition: all 1s ease-in-out;
}
#shadow.expanded {
  transform: scale(1.1);
  box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}

// Animated Backgrounds
// Extinguish
#extinguish-background {
  @include backgroundLogos("extinguish_tile.png", $extinguish-brand-primary, 50px);
  animation: down-right-diagnol 5s linear normal infinite;
}
#extinguish-background.visible {
  visibility: visible;
}
#extinguish-background.visible.fullscreen {
  @include backgroundFullscreen;
}
#extinguish-background.visible.fullscreen.paused {
  animation-play-state: paused;
}
// Snap+Match
#snap-background {
  @include backgroundLogos("snap_icon.png", $snap-brand-primary, 75px);
  animation: down-left-diagnol 5s linear normal infinite;
}
#snap-background.visible {
  visibility: visible;
}
#snap-background.visible.fullscreen {
  @include backgroundFullscreen;
}
#snap-background.visible.fullscreen.paused {
  animation-play-state: paused;
}
// BillGroble
#bill-background {
  @include backgroundLogos("bill_logo_tile.png", $brand-accent-2, 50px);
  animation: up-right-diagnol 5s linear normal infinite;
}
#bill-background.visible {
  visibility: visible;
}
#bill-background.visible.fullscreen {
  @include backgroundFullscreen;
}
#bill-background.visible.fullscreen.paused {
  animation-play-state: paused;
}
// Coming soon
#unknown-background {
  @include backgroundLogos("unknown_tile.png", $placeholder-background, 50px);
  animation: up-left-diagnol 5s linear normal infinite;
}
#unknown-background.visible {
  visibility: visible;
}
#unknown-background.visible.fullscreen {
  @include backgroundFullscreen;
}
#unknown-background.visible.fullscreen.paused {
  animation-play-state: paused;
}

// Businss card body
#business-card {
    background-color: transparent;
    z-index: 0;
    @include cardSize($corner-size, $card-size);
    // padding: 40vh auto;
    transition: all 1s ease-in-out, transform-origin 1ms;
    animation: fade-in 0.5s ease-in-out 2s;
    animation-fill-mode: forwards;
    overflow: visible;
    &:before {
      @include cardEdge;
      transform: rotateX(180deg);
      -webkit-transform: translate3d(0,0,0) rotateX(180deg);
      top: -$corner-size;
      // z-index: ;
    }
    &:after {
      @include cardEdge;
      z-index: -1;
      bottom: -$corner-size;
    }
}
#business-card.exit-right {
  transform: translate(4vw, 4vw) rotate3d(-1, 1, 0, 90deg);
  // slightly darken color on rotate?
}
#business-card.exit-right-up {
  transform: translate(4vw, -4vw) rotate3d(-1, -1, 0, 90deg);
}
#business-card.exit-left {
  transform: translate(-4vw, 4vw) rotate3d(1, 1, 0, 90deg);
}
#business-card.exit-left-up {
  transform: translate(-4vw, -4vw) rotate3d(1, -1, 0, 90deg);
}
#business-card.flipY {
  transform: rotateY(180deg);
  @include hideFront;
} 
#business-card.flipY.expanded {
  transform: rotateY(180deg) scale(1.1);
  z-index: 1;
}
#business-card.flipX {
  transform: rotateX(180deg);
  @include hideFront;
} 
#business-card.flipX.expanded {
  transform: rotateX(180deg) scale(1.1);
  z-index: 1;
}

// Business card content front
#card-content {
  transform: translateY(-$corner-size);
  margin: auto;
  max-height: $card-height;
  text-align: center;
  opacity: 0;
  transition: all 1s ease-in-out, visibility 0ms ease-in-out 0.5s; //check firefox and potentially change to 1ms
  animation: fade-in-text 0.5s ease-in-out 2s;
  animation-fill-mode: forwards;
  #email, #name, #title {
    transition: color 0.5s ease-in-out;
  }
}
#logo {
  display: block;
  left: 0;
  right: 0;
  z-index: 5;
  width: 6vw;
  height: 6vw;
  margin: auto;
  padding-top: 3vw;
  padding-bottom: 1vw;
  #billgroble-icon {
    height: 100%;
    width: 100%;
    #i_full {
      animation: set_i 1ms, slide_i 0.5s 2s;
      animation-fill-mode: forwards;
    }
    #l_one {
      animation: set_l_1 1ms, slide_l1 0.5s 2s;
      animation-fill-mode: forwards;
    }
    #l_two {
      animation: set_l_2 1ms, slide_l2 0.5s 2s;
      animation-fill-mode: forwards;
    }
    #b_full {
      
    }
  }
}
#email:hover, #name:hover, #title:hover{
  color: $brand-primary;
  cursor: pointer;
}
#website:hover {
  animation: swing 1s;
  cursor: not-allowed;
}

// Contact link
#contact {
  @include initialContentState;
  transform: rotateY(180deg);
}
#contact.visible {
  visibility: visible;
}
#contact-form {
  transition: all 1s;
}
#contact-form.up {
  transform: translateY(-$card-height);
}
#sent {
  transition: all 1s;
  transform: translateY($card-height);
}
#sent.up {
  transform: translateY(-10vw);
}

// About me link
#bio {
  @include initialContentState;
  transform: rotateX(180deg);
}
#bio.visible {
  visibility: visible;
}

// Resume link
#experience {
  @include initialContentState;
  transform: rotateX(-180deg);
  
}
#experience.visible {
  visibility: visible;
}


// Card corners
.corner {
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: transparent;
  opacity: 0;
  position: absolute;
  border-right: $initial-corner-size solid transparent;
  border-bottom: $initial-corner-size solid $card-color;
  animation: fade-in-text 0.5s ease-in-out 2s;
  animation-fill-mode: forwards;
  transition: all 1s, pointer-events 1ms 1s;
  z-index: 2;
  transform-style: preserve-3d;
}
.corner.to-back {
  z-index: -1;
  pointer-events: none;
}
#top-left {
  top: -$corner-size;
  left: 0;
  transform: rotateZ(90deg);
}
#top-right {
  top: -$corner-size;
  right: 0;
  transform: rotateZ(180deg);
  // -moz-transform: rotateX(180deg)
}
#bottom-left {
  bottom: -$corner-size;
  left: 0;
}
#bottom-right {
  bottom: -$corner-size;
  right: 0;
  transform: rotateZ(270deg);
}
#top-left:hover,
#top-right:hover,
#bottom-left:hover,
#bottom-right:hover {
  border-right: $folded-corner-size solid transparent;
  border-bottom: $folded-corner-size solid $card-accent;
} 
#top-left:hover {
  transform: rotate3d(0, 1, 0, 180deg);
}
#top-right:hover {
  transform: rotate3d(-1, 1, 0, 180deg);
  //-moz-transform: rotate3d(none) rotateX(-180deg) rotateY(180deg);
}
#bottom-left:hover {
  transform: rotate3d(1, 1, 0, 180deg);
}
#bottom-right:hover {
  transform: rotate3d(-1, 0, 0, 180deg);
}

// Initial card draw animation
.l1,.l2,.l3,.l4 {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;
  z-index: 5;
  -webkit-animation-iteration-count:1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
}
.l1 {
  left: 0;
  bottom: -$corner-size;
  @include outlineDimensions($card-height, 3px, 2.5s, l1, 0s);
}

.l2 {
  top: -$corner-size;;
  left: 0;
  @include outlineDimensions(3px, $card-width, 2s, l2, .5s);
}

.l3 {
  right: 0;
  top: -$corner-size;;
  @include outlineDimensions($card-height, 3px, 1.5s, l3, 1s);
}

.l4 {
  bottom: -$corner-size;
  right: 0;
  @include outlineDimensions(3px, $card-width, 1s, l4, 1.5s);
}