@import "variables";
@import "animations";
@import "mixins";

body {
    
}

#intro {
    @include contentSpacing;
    #body {
        text-align: left;
        margin: 0 1.2vw;
    }
    #signature {
        h3 {
            color: $brand-primary;
        }
    }
}

