<div id="billgroble-back" class="back-button button-large"><i class="material-icons md-36">chevron_left</i></div>
<div id="bill-pause" class="pause-button button-large"><i class="material-icons md-36">pause</i></div>
<!--<div id="coming-soon-pause" class="pause-button"><i class="material-icons md-36">chevron_left</i></div>-->
<div align="center" id="billgroble-content">

</div>