<div id="billgroble-back" class="back-button button-large"><i class="material-icons md-36">chevron_left</i></div>
<div id="bill-pause" class="pause-button button-large"><i class="material-icons md-36">pause</i></div>
<!--<div id="coming-soon-pause" class="pause-button"><i class="material-icons md-36">chevron_left</i></div>-->
<div align="center" id="billgroble-content">
    <div id="bill-logo">
        <img src=<%= asset_path('square_logo.png') %> alt="'Bill' logo">
    </div>
    <div id="bill-info">
        <div id="description" class="bill-card">
            <p> I first started this website in fall 2017 to test various Ruby
                on Rails code snippets I had been working on for other projects.
                However by the time winter break came around I decided to fully
                realize this opportunity to develop my Rails and Sass skills 
                while getting a chance to use some of the more fun elements of CSS.</p>
            <p>(speaking of which, if the backgrounds hurt your eyes the pause 
                button is in the upper-right.)</p>
        </div>
        <div class="spacer"></div>
        <div id="rails" class="bill-card">
             <p> billgroble.com is powered by Ruby on Rails.</p>
        </div>
        <div class="spacer"></div>
    </div>
    <div id="extinguish-github">
        <div id="git-bill" align="center">
            <%= inline_svg "github-logo.svg", id: 'bill-git-logo' %>
        </div>
    </div>
</div>