<h2>Experience</h2>
<ul align="left">
    <li><h3>Business Analyst Intern</h3>IT Department, URBN, Philadelphia, PA<p>June 2017</p></li>
     <li><h3>Teaching Assistant</h3>Computer Science Department, Tulane University, New Orleans, LA<p>January 2017</p></li>
      <li><h3>Founder/CTO</h3>Extinguish.io, New Orleans, LA<p>June 2017</p></li>
</ul>
<div align="center" id="resume">
<%= link_to asset_path("William_Groble_resume.pdf"), target: :_blank do  %>
    <i class="material-icons md-36">insert_drive_file</i><p class="icon-caption">View Full Résumé</p>
<% end %>
</div>