<div id="experience-content">
<div id="experience-back" class="back-button"><i class="material-icons md-36">chevron_left</i></div>
<h2>Experience</h2>
<ul align="left" id="experience-list">
    <li>
        <h3>Business Analyst Intern</h3>
        IT Department, URBN, Philadelphia, PA
        <br />June 2017
    </li>
    <li>
        <h3>Teaching Assistant</h3>
        Computer Science Department, Tulane University, New Orleans, LA
        <br />January 2017
    </li>
    <li>
        <h3>Founder/CTO</h3>
        Extinguish.io, New Orleans, LA
        <br />June 2017
    </li>
</ul>
<div align="center" id="resume">
    <%= link_to asset_path("William_Groble_resume.pdf"), target: :_blank do  %>
        <i class="material-icons md-36">insert_drive_file</i><span class="caption">Résumé</span>
    <% end %>
</div>
</div>