<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="heading-container">
    <div id="card-container">
        <div id="extinguish-background"></div>
        <div id="snap-background"></div>
        <div id="bill-background"></div>
        <div id="unknown-background"></div>
        <div id="shadow"></div>
        <div id="business-card">
            <div id="card-content">
                <div id="logo"><img src=<%= asset_path('square_logo.png') %> alt="logo"></div>
                <h2 id="name">Billy Groble</h2>
  
                <h3 id="title">Software Developer</h3>
    
                <div id="email">bill.groble@gmail.com</div>
                <br />
                <div id="website">billgroble.com</div>
                <div id="contact"><div id="contact-form"><%= render template: 'contacts/new' %></div>
                <div id="sent">
                    <p>Thanks for your message!</p>
                    </div></div>
                <div id="bio"><%= render 'intro' %></div>
                <div id="experience"><%= render 'experience' %></div>
            </div>
            
            <span class="l1"></span>
            <span class="l2"></span>
            <span class="l3"></span>
            <span class="l4"></span>
            
            <div class="corner" id="top-left"></div>
            <div class="corner" id="top-right"></div>
            <div class="corner" id="bottom-left"></div>
            <div class="corner" id="bottom-right"></div>
            
            <!--<div class="corner-shield" id="top-left"></div>-->
            <!--<div class="corner-shield" id="top-right"></div>-->
            <!--<div class="corner-shield" id="bottom-left"></div>-->
            <!--<div class="corner-shield" id="bottom-right"></div>-->
            
            
        </div>
    </div>
    <div id="shield"></div>
</div>
<script>
$("#top-left").mouseenter(function(){
    $("#snap-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $("#extinguish-background").addClass("visible");
});
$("#top-right").mouseenter(function(){
    $("#extinguish-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $("#snap-background").addClass("visible");
});
$("#bottom-left").mouseenter(function(){
    $("#snap-background").removeClass("visible");
    $("#extinguish-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $("#bill-background").addClass("visible");
});
$("#bottom-right").mouseenter(function(){
    $("#snap-background").removeClass("visible");
    $("#extinguish-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").addClass("visible");
});

$("#top-left").click(function(){
    $("#business-card").css("transform-origin", "right bottom");
    $("#business-card").addClass("exit-right");
    setTimeout(function() {
        $("#extinguish-background.visible").addClass("fullscreen")
    }, 1000);
});
$("#extinguish-background").click(function(){
    $("#extinguish-background.visible").removeClass("fullscreen")
    setTimeout(function() {
        $("#business-card").removeClass("exit-right");
    }, 1000);
});

$("#top-right").click(function(){
    $("#business-card").css("transform-origin", "left bottom");
    $("#business-card").addClass("exit-left");
    setTimeout(function() {
        $("#snap-background.visible").addClass("fullscreen");
    }, 1000);
});
$("#snap-background").click(function(){
    $("#snap-background.visible").removeClass("fullscreen");
    setTimeout(function() {
        $("#business-card").removeClass("exit-left");
    }, 1000);
});

$("#bottom-left").click(function(){
    $("#business-card").css("transform-origin", "right top");
    $("#business-card").addClass("exit-right-up");
    setTimeout(function() {
        $("#bill-background.visible").addClass("fullscreen");
    }, 1000);
});
$("#bill-background").click(function(){
    $("#bill-background.visible").removeClass("fullscreen");
    setTimeout(function() {
        $("#business-card").removeClass("exit-right-up");
    }, 1000);
});
$("#bottom-right").click(function(){
    $("#business-card").css("transform-origin", "left top");
    $("#business-card").addClass("exit-left-up");
    setTimeout(function() {
        $("#unknown-background.visible").addClass("fullscreen");
    }, 1000);
});
$("#unknown-background").click(function(){
    $("#unknown-background.visible").removeClass("fullscreen");
    setTimeout(function() {
        $("#business-card").removeClass("exit-left-up");
    }, 1000);
});

$("#email").click(function(){
    $("#business-card").css("transform-origin", "initial");
    $("#snap-background").removeClass("visible");
    $("#extinguish-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $(".corner").addClass("to-back");
    $("#business-card").addClass("flipY");
    $("#contact").css("pointer-events", "initial");
    $("#contact").addClass("visible");
    // $("#top-right").addClass("back");
    setTimeout(function() {
        $("#business-card").addClass("expanded");
        $("#shadow").addClass("expanded")
    }, 1000);
    setTimeout(function() {
        $("#contact").css("opacity", "1");
    }, 500);
});

$("#name").click(function(){
    $("#business-card").css("transform-origin", "initial");
    $("#snap-background").removeClass("visible");
    $("#extinguish-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $("#business-card").addClass("flipX");
    $("#bio").addClass("visible");
    setTimeout(function() {
        $("#business-card").addClass("expanded");
        $("#shadow").addClass("expanded")
    }, 1000);
});
$("#bio").click(function(){
    $("#business-card").removeClass("expanded");
    $("#shadow").removeClass("expanded")
    setTimeout(function() {
        $("#business-card").removeClass("flipX");
        $("#bio").removeClass("visible");
    }, 1000);
});

$("#title").click(function(){
    $("#business-card").css("transform-origin", "initial");
    $("#snap-background").removeClass("visible");
    $("#extinguish-background").removeClass("visible");
    $("#bill-background").removeClass("visible");
    $("#unknown-background").removeClass("visible");
    $(".corner").addClass("to-back");
    $("#business-card").addClass("flipX");
    $("#experience").addClass("visible");
    $("#experience").css("pointer-events", "initial");
    setTimeout(function() {
        $("#business-card").addClass("expanded");
        $("#shadow").addClass("expanded")
    }, 1000);
        setTimeout(function() {
        $("#experience").css("opacity", "1");
    }, 500);
});
// $("#experience").click(function(){
//     $("#business-card").removeClass("expanded");
//     $("#shadow").removeClass("expanded")
//     setTimeout(function() {
//         $("#business-card").removeClass("flipX");
//         $("#experience").removeClass("visible");
//         setTimeout(function() {
//             $(".corner").removeClass("to-back");
//         }, 1000);
//     }, 1000);
// });
$("#contact").on('click', "#contact-back", function () {
    $("#business-card").removeClass("expanded");
    $("#shadow").removeClass("expanded")
    setTimeout(function() {
        $("#business-card").removeClass("flipY");
        $("#business-card").removeClass("flipY");
        $("#contact").css("pointer-events", "none");
        setTimeout(function() {
            $("#contact").css("opacity", "0");
            $("#contact").removeClass("visible");
        }, 500);
        setTimeout(function() {
            $(".corner").removeClass("to-back");
        }, 1000);
    }, 1000);
});
$("#experience").on('click', "#experience-back", function () {
    $("#business-card").removeClass("expanded");
    $("#shadow").removeClass("expanded")
    setTimeout(function() {
        $("#business-card").removeClass("flipX");
        $("#business-card").removeClass("flipX");
        $("#experience").css("pointer-events", "none");
        setTimeout(function() {
            $("#experience").css("opacity", "0");
            $("#experience").removeClass("visible");
        }, 500);
        setTimeout(function() {
            $(".corner").removeClass("to-back");
        }, 1000);
    }, 1000);
});

setTimeout(function() {
        $("#shield").css("display", "none");
}, 2500);

</script>