<div id="intro-back" class="back-button"><i class="material-icons md-36">chevron_left</i></div>
<div id="intro">
    <div align="center">
        <h2 id="about-me">About Me</h2>
    </div>
    <div align="center" id="body">
        <p>My name is Billy Groble (technically it's William) and I'm a senior at Tulane University majoring in Computer Science and Public Health. I graduate in spring 2018 and plan on occupying myself by building websites until then. I currently reside in New Orleans, but I plan on relocating to Philadelphia after I graduate.</p>
        <p>When I'm not on the computer I like to go running at any of the parks or bridges nearby, so if you need me check there! If you have anything you want to say to me let me know by clicking the email on the business card.</p>
        <p>I hope you have as much fun clicking through the site as I did making it!</p>
    </div>
    <div align="center" id="signature">
        <h3>-Billy</h3>
    </div>
</div>
