<div id="intro">
<div align="center">
<h2 id="title">About Me</h2>
</div>
<div align="left" id="body">
<p>My name is Billy Groble (though technically it's William) and I am currently a senior at Tulane University majoring in Computer Science and Public Health. I graduate in spring 2018 and plan on occupying myself by building websites until then.</p>
<p>I currently reside in New Orleans as much as one can call a dorm room a residence, though I plan on relocating to Philadelphia after I graduate.</p>
<p>When I'm not on the computer I love running in any of the parks or bridges nearby!</p>
<p>If you have any questions or anything to say to me let me know by clicking the email on the business card.</p>
<p>Hope you have as much fun clicking through the site as I did making it!</p>
</div>
<div align="center" id="signature"><p>-Billy</p></div>
</div>
