<div id="snap-back" class="back-button button-large"><i class="material-icons md-36">chevron_left</i></div>
<!--<div id="coming-soon-pause" class="pause-button"><i class="material-icons md-36">chevron_left</i></div>-->
<div align="center" id="snap-content">
    <div id="phone-shadow"></div>
    <div id="phone">
        <%= inline_svg "phone_no_mic.svg", id: 'phone-icon' %>
    </div>
    <div id="snap-shot"><img src=<%= asset_path('snap-shot.png') %> alt="snap-screenshot" style="width: 18.5vw; box-shadow: inset 5px 5px 5px rgba(0,0,0,.15);"><div id="screenshot-shadow"></div><div id="screen"></div></div>
</div>