<div id="logo" align="center"><img src=<%= asset_path('square_logo.png') %> alt="logo" style="width: 25px;"></div>
<div style="background-color: #FAFAFA; box-shadow: 5px 5px 5px rgba(0,0,0,.15); padding: 20px; margin: 20px;">
<h1 style="color: #FF6700;">New message from <%= @email.name %></h1>
<p>
  <%= @email.message %>
</p>
</div>
<style>
    body {
        background: #E6E8E6;
    }
</style>