<div id="logo" align="center"><img src=<%= asset_path('square_logo.png') %> alt="logo" style="width: 25px;"></div>
<div style="background-color: white;">
<h1>BillGroble.com Message</h1>
<p>
  <%= @email.message %>
</p>
</div>