@import "variables";

%form-hint {
  color: red;
}
.form-inputs {
  .hint {
    @extend %form-hint;
  }
  .error {
  }
}
.form-hint {
  @extend %form-hint;
}
input, label {
    display:block;
}
label {
    &.required::after {
        content: "*";
        color: $brand-primary;
    }
    abbr {
      display: none;
    }
}
input, textarea {
    clear: both;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    padding: 0.5rem 0.5rem;
    margin: 0.25rem;
    transition: all 0.5s;
    border: .07vw solid;
    // border-radius: 0 .125vw 0 .125vw;
    border-radius: .125vw;
    &:focus {
		border-color: $brand-primary;
  		outline: 0;
  		box-shadow: 0 0 2px $brand-primary;
    }
}

textarea {
    height: 30%;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    transition: all .2s;
    background: none;
    border: none;
    color: $text-color;
    cursor: pointer;
    width: 4vw;
    height: 2.25vw;
    padding: 0 0.5vw;
    -webkit-appearance: none; //remove default mobile button styling
    font-size: 1.2vw;
    &:hover {
        color: $brand-primary;
    }
    &:focus {
        color: $brand-primary;
        background-color: rgba(opacify($brand-accent, 1), 0.4);
        box-shadow: none;   
    }
}
