$main-background-color: #E6E8E6  !default;
$background-color: #3F3F37 !default;
$brand-primary: #FF6700  !default;
$brand-accent: #FF822E !default; //#FBBA72
$brand-accent-2: #FF9E5C !default;
$light-grey: #CED0CE !default;
$highlight-color: #FFB98B !default;
$text-color: #666666 !default;
$shadow-color: rgba(0,0,0,.15) !default;

//CARD
//colors
$card-color: #FAFAFA !default;
$card-accent: #BCBEBC !default; //#E4E4E4
//dimensions
$card-height: 20vw;
$card-width: 35vw;
@media only screen and (orientation: portrait) {
    $card-height: 70vw;
    $card-width: 40vw;
}
$corner-size: 5vw !default;
$card-size: calc(#{$card-height} - (2 * #{$corner-size})) !default;
$card-radius: 0 !default;
$backX-translate: calc(#{$card-width - $corner-size});
$corner-page-size: calc(#{$corner-size} / 2);
$initial-corner-size: calc((2 * #{$corner-page-size}) + 1px);
$folded-corner-size: calc(2 * #{$corner-page-size});


//EXTINGUISH
$extinguish-brand-primary: #9F7CB1 !default;
$extinguish-brand-accent: #18191D !default;
//SNAP+MATCH
$snap-brand-primary: #00d8ff !default;
//COMING SOON
$placeholder-background: #BCBEBC !default;