@import "variables";
@import "animations";

#phone-shadow {
    // display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    width: 20vw;
    height: 42.6vw;
    border-radius: 3.6vw;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
}

// #screen {
//     transform: scale(0);
//     animation: grow-transition .5s;
//     animation-fill-mode: forwards;
// }

#phone {
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    width: 20vw;
    height: 42.6vw;
    transform: scale(0);
    animation: grow-transition .5s;
    animation-fill-mode: forwards;
}
#phone-icon {
    width: 100%;
    height: 100%;
    fill: $card-color;
}
#phone.shrink {
    // background-color: red;
    transform: scale(1);
    animation: shrink-transition .5s .5s; 
    // animation-direction: reverse;
    animation-fill-mode: forwards;
    #screen {
        animation: shrink-transition .5s .5s, fade-in-text .5s;
        animation-fill-mode: forwards;
    }
}
#snap-shot {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    width: 18.5vw;
    height: 33vw;
    overflow: hidden;
    border: thin solid $border-color;
    // transition: all 1s;
}

@keyframes fade-out {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#screen {
    // transform: scale(0);
    opacity: 1;
    background-color: black;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    width: 18.5vw;
    height: 33vw;
    // transition: all 0.5s;
    animation: grow-transition .5s, fade-out .5s .5s;
    animation-fill-mode: forwards;
    // z-index: 3;
}
#screen.off {
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}

#screenshot-shadow {
    // opacity: 1;
    // background-color: black;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0; 
    margin: auto;
    width: 100%;
    height: 100%;
    // box-shadow: inset 5px 5px 5px rgba(0,0,0,.15);
    // transition: all 0.5s;
}
#snap-info {
    transform: scale(0);
    animation: grow-transition .5s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0; bottom: 0; right: 3vw; 
    margin: auto;
    height: 50vh;
}
#snap-info.shrink {
    // background-color: red;
    transform: scale(1);
    animation: shrink-transition .5s .5s; 
    // animation-direction: reverse;
    animation-fill-mode: forwards;
}

#logo-full{
    width: 30vw;
    padding: 1vw;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    background-color: $card-color;
    margin: auto;
    // border-bottom: 5vw solid transparent;
    // text-align: center;
}
#description {
    width: 30vw;
    // height: 15vw;
    padding: 1vw;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    background-color: $card-color;
    text-align: left;
    margin: auto;
    // font-weight: 500;
    p {
        font-size: 1.2vw;
    }
}

#snap-icons {
    transform: scale(0);
    animation: grow-transition .5s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 0; bottom: 0; left: 15%; 
    margin: auto;
    height: 14vw;
}
#snap-icons.shrink {
    // background-color: red;
    transform: scale(1);
    animation: shrink-transition .5s .5s; 
    // animation-direction: reverse;
    animation-fill-mode: forwards;
}
#app-icon{
    width: 10vw;
    padding: 2vw;
    box-shadow: 5px 5px 5px rgba(0,0,0,.15);
    background-color: $card-color;
    margin: auto;
    border-radius: 3vw;
        img {
        width: 10vw;
    }
    // border-bottom: 5vw solid transparent;
    // text-align: center;
}